<div id="wrapper">
  <div id="bg-wrapper"></div>
  <div id="carousel">
    <ul class="horizontal">
      <li class="page" ng-controller="PartiesCtrl" ng-include="templateUrl">
      </li>
      <li class="page home-page" ng-controller="HomeCtrl" ng-include="templateUrl">
      </li>
      <li class="page" id="z-my-night-ctrl" ng-controller="ZullerMyNightCtrl" ng-include="templateUrl">
      </li>
    </ul>
    <ul class="vertical">
      <li class="page pane1">
        "Profile"
      </li>
      <li class="page pane2 home-page home-placeholder">
        "Home"
      </li>
      <li class="page pane3">
        "Search"
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    var carousel = new Carousel("#carousel", "#bg-wrapper");
    carousel.init();
  });
</script>