<h2>
  Zuller Controller
</h2>
<button class="btn" ng-click="category = 'bars'">ברים</button>
<button class="btn" ng-click="category = 'parties'">מסיבות</button>

<div ng-switch="category">
  <ul ng-switch-when="bars">
    <li class="bar" ng-repeat="bar in bars">
      <a href="#/parties/3">
      <img ng-src="{{bar.logo_url}}">
      <h3>{{bar.name}}</h3>
      <p>{{bar.min_age}}</p>
      </a>
    </li>
  </ul>

  <ul ng-switch-when="parties">
    <li class="party" ng-repeat="party in parties">
    <a href="#/parties/3">
      <img ng-src="{{party.logo_url}}">
      <h3>{{party.name}}</h3>
      <p>{{party.min_age}}</p>
    </a>
    </li>
  </ul>
</div>  